---
import '../styles/global.css';
import Hero from '../components/Hero';
import Feature from '../components/Feature';
import HouseTypes from '../components/HouseTypes';
import Specifications from '../components/Spesifications';
import Stats from '../components/Stats';
import ReadyStock from '../components/ReadyStock';
import Location from '../components/Location';
import Footer from '../components/Footer';
---

<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/svg+xml" href="/logo-gph.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Golden Palm Hills - Cluster Modern Keluarga Muda Indonesia. Hanya 2 Juta All In Langsung Akad!">
  <title>Golden Palm Hills - Cluster Modern Keluarga Muda Indonesia</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  
</head>
<body>
  <Hero client:load />
  <Feature client:load />
  <HouseTypes client:load />
  <Specifications client:load />
  <Stats client:load />
  <ReadyStock client:load />
  <Location client:load />
  <Footer client:load />
</body>
</html>